<%#= recipe["title"].inspect %>

<div class="w-auto border inline-block">
  <h3> 
    <%= recipe["title"] %> <br>
    Number of ingredients included: <%= recipe["usedIngredientCount"] %>
    <br>
    Missed Ingredients:<%= recipe["missedIngredients"][0]["name"] %>
  </h3>
    <%= image_tag recipe["image"] %>

</div>
