<%= render partial: "shared/header" %>
<div>
    <%= render partial: "home/searchbar"%>
</div>
<br> <br>
<div class=" w-9/12 justify-center m-auto bg-white">
<div class="grid grid-flow-row grid-cols-3 gap-3 justify-center text-center">
    <%= render partial: "recipe", collection: @recipes %>
</div>