<%= render partial: "shared/header" %>
<div>
    <%= render partial: "home/searchbar"%>
</div>
<br> <br>
<div class="w-10/12 border border-2 m-10 justify-center m-auto bg-white">
<div class="grid grid-flow-row grid-cols-2 gap-3 xl:grid-cols-3 justify-center">
    <%= render partial: "recipe", collection: @recipes %>
</div>