<%= render partial: "shared/header" %>
<div class="flex flex-wrap w-11/12 left-0 right-0 py-3 m-auto">
    <%= render partial: "home/searchbar"%>
    <div class="ml-auto">
        <%=link_to "Add a Recipe", new_recipe_url, class: "font-medium text-lg mr-8 border-2 border-green-dark text-green-dark p-1 hover:text-white rounded hover:bg-green-dark hover:border-transparent" %>
    </div>
</div>
<div class="w-11/12 border border-2 py-10 m-10 mt-12 px-10 shadow justify-center m-auto bg-white">
    <div class="grid grid-flow-row grid-cols-2 xl:grid-cols-3 justify-center px-4">
        <%= render partial: "recipe", collection: @recipes %>
    </div>
</div>