<%#= will show in all pages %>
<nav class="flex justify-between border border-green-100">
        <%= link_to "Home", root_path, class: "font-serif pt-6 pl-6 text-lg hover:underline" %>
         <%= link_to root_path do %>
        <img src="assets/kamayan_logo.png" class="h-20 w-auto" />
        <% end %>
        <%= link_to "About", about_index_url, class: "font-serif pt-6 pr-6 text-lg hover:underline" %>
   </nav>
