<%#= will show in all pages %>
<nav class="flex justify-between border bg-white">
        <%= link_to "Home", root_path, class: "font-custom pt-6 pl-6 text-lg hover:text-gray-600" %>
         <%= link_to root_path do %>
        <img src="assets/kamayan_logo.png" class="h-20 w-auto" />
        <% end %>
        <%= link_to "About", about_index_url, class: "font-custom pt-6 pr-6 text-lg hover:text-gray-500" %>
   </nav>
