<%#= will show in all pages %>
<div class="topnav">
    <%= link_to "Home", root_path, class: "absolute top-0 left-0 pl-6" %>
    <%= link_to "About", about_index_url, class: "absolute top-0 right-0 pr-6" %>
    </div>