<%#= will show in all pages %>
<nav class="flex justify-between">
        <%= link_to "Home", root_path, class: "font-serif pt-6 pl-6" %>
        <img src="assets/kamayan_logo.png" class="h-20 w-auto" />
        <%= link_to "About", about_index_url, class: "font-serif pt-6 pr-6" %>
   </nav>
