<div class="relative flex flex-col my-auto items-center bgimg bg-cover p-0">
     <img src="assets/pad_see_ew_ver2.jpg" class="opacity-75 md:w-3/4 xl:w-1/2 rounded-b-md" alt="Pad See Ew" />
     <div class="absolute m-36 2xl:m-54 w-160 h-280">
    <%= text_area 'search', nil, placeholder: 'Enter the ingredients you have to find recipes that you can make!', size: "65x2", class: "shadow rounded-md" %>
   </div>
</div>
 