 <div class="nested-fields">
    <div class="m-2">
        <%= f.text_field :description,  class: "shadow-md outline-none bg-gray-200 rounded focus:bg-white"%>
        <%= link_to_remove_association "Delete", f, class: "group text-sm hover:text-blue-700" %>
    </div>
 </div>