<div class="relative flex flex-col height-screen bg-cover items-center">
     <img src="assets/dumplings_ver4 (2).png" class="rounded-b-md" alt="Pad See Ew" />
     <div class="absolute">
     <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
      <textarea placeholder="Enter the ingredients you have to find recipes that you can make!" rows="2" cols="60" class="shadow overflow-hidden placeholder-grey-500 font-serif text-2xl text-center border-solid"></textarea>
      </div>
</div>
 
