 <div class="absolute">
 <%= text_field_tag 'search', nil, placeholder: 'Enter search term...' %> 
</div>
<!--<div class="header">-->
       <!-- <div class="absolute -top-1/4 -left-1/4 bg-white">
        <%= text_field_tag 'search', nil, placeholder: 'Enter search term...' %> 
    </div>
<!--</div>-->
<!--<div class="flex items-center justify-center h-screen m-11 text-center" >
   
</div>-->
    <!--
position:absolute;
    left:25%;
    top:25%;
    width:40%;
    
    background-color:white;
    color:grey;-->

     