<div class="relative flex flex-col height-screen bg-cover items-center">
     <img src="assets/dumplings.png" class="rounded-b-md" alt="Pad See Ew" />
     <div class="absolute">
     <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
     <!-- <textarea placeholder="Enter the ingredients you have to find recipes that you can make!" rows="2" cols="60" 
      class=" focus:outline-none focus:ring focus:border-green-100 
      shadow placeholder-grey-500 font-serif text-2xl text-center "></textarea>-->
    
      <%= form_with url: "/recipes", method: :get do |form| %>
            <%= form.search_field :query %>
            <%= form.submit "Search" %>
      <% end %>



      </div>
</div>
 
