<%= render partial: "shared/header" %>
<div class="relative flex flex-col height-screen bg-cover items-center">
    <%= render partial: "home_img" %>
    <div class="absolute">
        <%= render partial: "searchbar" %>
    </div>
</div>
 
