<%= render partial: "shared/header" %>
<div class="flex items-center flex-col max-w-2xl mx-auto">
    <br>
    <h1 class="font-custom text-2xl"> About KAMAYAN </h1>
  <br>
  <p class="font-custom"> Ever have a bunch of ingredients but 
        no idea what to make with them?
        Kamayan is a Ruby on Rails app that takes ingredients in your pantry and finds 
        recipes you can make with just those ingredients.
        The word "kamayan" is a Tagalog word that directly translates 
        to "by hand" and also refers to a communal-style Filipino feast.
        <br> 
    </p>
</div>
