<%= link_to my_recipe_path(my_recipe.id) do %>
<div class="text-center mb-1 flex flex-col m-auto justify-center w-10/12 hover:border-green-dark shadow hover:shadow-lg pb-3 transition duration-100 ease-in-out transform hover:-translate-y-2 hover:scale-105">
    <h3 class="font-semibold text-md text-black m-2 px-3"> 
        <%= my_recipe.title %> <br>
        <h4 class="font-light px-3">
        <%= my_recipe.description %><br>  
        </h4>
    </h3>
</div>
<% end %>